﻿<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="robots" content="all,follow">
    <meta name="googlebot" content="index,follow,snippet,archive">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Universal - All In 1 Template</title>

    <meta name="keywords" content="">

    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,500,700,800' rel='stylesheet' type='text/css'>

    <!-- Bootstrap and Font Awesome css -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- Css animations  -->


    @Styles.Render("~/Content/themestyle")



    <!-- Responsivity for older IE -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and apple touch icons-->
    <link rel="shortcut icon" href="~/Image/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="~/Image/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/Image/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/Image/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Image/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/Image/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="~/Image/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/Image/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="~/Image/apple-touch-icon-152x152.png" />
</head>

<body>
    <div id="all">

        <header>

            <!-- *** TOP ***
            _________________________________________________________ -->
            <div id="top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-5 contact">
                            <p class="hidden-sm hidden-xs">Contact us on +420 777 555 333 or hello@universal.com.</p>
                            <p class="hidden-md hidden-lg">
                                <a href="#" data-animate-hover="pulse"><i class="fa fa-phone"></i></a>  <a href="#" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </p>
                        </div>
                        <div class="col-xs-7">
                            <div class="social">
                                <a href="#" class="external facebook" data-animate-hover="pulse"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="external gplus" data-animate-hover="pulse"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="external twitter" data-animate-hover="pulse"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                            </div>

                            <div class="login">
                                <a href="#" data-toggle="modal" data-target="#login-modal"><i class="fa fa-sign-in"></i> <span class="hidden-xs text-uppercase">Sign in</span></a>
                                <a href="customer-register.html"><i class="fa fa-user"></i> <span class="hidden-xs text-uppercase">Sign up</span></a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- *** TOP END *** -->
            <!-- *** NAVBAR ***
            _________________________________________________________ -->

            <div class="navbar-affixed-top" data-spy="affix" data-offset-top="200">

                <div class="navbar navbar-default yamm" role="navigation" id="navbar">

                    <div class="container">
                        <div class="navbar-header">

                            <a class="navbar-brand home" href="index.html">
                                <img src="@Url.Content("~/Image/logo.png")" alt="Universal logo" class="hidden-xs hidden-sm">
                                <img src=" @Url.Content("~/Image/logo-small.png")" alt="Universal logo" class="visible-xs visible-sm"><span class="sr-only">Universal - go to homepage</span>
                            </a>
                            <div class="navbar-buttons">
                                <button type="button" class="navbar-toggle btn-template-main" data-toggle="collapse" data-target="#navigation">
                                    <span class="sr-only">Toggle navigation</span>
                                    <i class="fa fa-align-justify"></i>
                                </button>
                            </div>
                        </div>
                        <!--/.navbar-header -->

                        <div class="navbar-collapse collapse" id="navigation">

                            <ul class="nav navbar-nav navbar-right">
                                <li class="dropdown active">
                                    <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">Home <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="index.html">Option 1: Default Page</a>
                                        </li>
                                        <li>
                                            <a href="index2.html">Option 2: Application</a>
                                        </li>
                                        <li>
                                            <a href="index3.html">Option 3: Startup</a>
                                        </li>
                                        <li>
                                            <a href="index4.html">Option 4: Agency</a>
                                        </li>
                                        <li>
                                            <a href="index5.html">Option 5: Portfolio</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown use-yamm yamm-fw">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Features<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="yamm-content">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <img src="@Url.Content("~/Image/template-easy-customize.png")" class="img-responsive hidden-xs" alt="">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <h5>Shortcodes</h5>
                                                        <ul>
                                                            <li>
                                                                <a href="template-accordions.html">Accordions</a>
                                                            </li>
                                                            <li>
                                                                <a href="template-alerts.html">Alerts</a>
                                                            </li>
                                                            <li>
                                                                <a href="template-buttons.html">Buttons</a>
                                                            </li>
                                                            <li>
                                                                <a href="template-content-boxes.html">Content boxes</a>
                                                            </li>
                                                            <li>
                                                                <a href="template-blocks.html">Horizontal blocks</a>
                                                            </li>
                                                            <li>
                                                                <a href="template-pagination.html">Pagination</a>
                                                            </li>
                                                            <li>
                                                                <a href="template-tabs.html">Tabs</a>
                                                            </li>
                                                            <li>
                                                                <a href="template-typography.html">Typography</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <h5>Header variations</h5>
                                                        <ul>
                                                            <li>
                                                                <a href="template-header-default.html">Default sticky header</a>
                                                            </li>
                                                            <li>
                                                                <a href="template-header-nosticky.html">No sticky header</a>
                                                            </li>
                                                            <li>
                                                                <a href="template-header-light.html">Light header</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown use-yamm yamm-fw">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="yamm-content">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <img src="@Url.Content("~/Image/template-homepage.png")" class="img-responsive hidden-xs" alt="">
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <h5>Portfolio</h5>
                                                        <ul>
                                                            <li>
                                                                <a href="portfolio-2.html">2 columns</a>
                                                            </li>
                                                            <li>
                                                                <a href="portfolio-no-space-2.html">2 columns with negative space</a>
                                                            </li>
                                                            <li>
                                                                <a href="portfolio-3.html">3 columns</a>
                                                            </li>
                                                            <li>
                                                                <a href="portfolio-no-space-3.html">3 columns with negative space</a>
                                                            </li>
                                                            <li>
                                                                <a href="portfolio-4.html">4 columns</a>
                                                            </li>
                                                            <li>
                                                                <a href="portfolio-no-space-4.html">4 columns with negative space</a>
                                                            </li>
                                                            <li>
                                                                <a href="portfolio-detail.html">Portfolio - detail</a>
                                                            </li>
                                                            <li>
                                                                <a href="portfolio-detail-2.html">Portfolio - detail 2</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <h5>About</h5>
                                                        <ul>
                                                            <li>
                                                                <a href="about.html">About us</a>
                                                            </li>
                                                            <li>
                                                                <a href="team.html">Our team</a>
                                                            </li>
                                                            <li>
                                                                <a href="team-member.html">Team member</a>
                                                            </li>
                                                            <li>
                                                                <a href="services.html">Services</a>
                                                            </li>
                                                        </ul>
                                                        <h5>Marketing</h5>
                                                        <ul>
                                                            <li>
                                                                <a href="packages.html">Packages</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <!-- ========== FULL WIDTH MEGAMENU ================== -->
                                <li class="dropdown use-yamm yamm-fw">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">All Pages <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <div class="yamm-content">
                                                <div class="row">
                                                    <div class="col-sm-3">
                                                        <h5>Home</h5>
                                                        <ul>
                                                            <li>
                                                                <a href="index.html">Option 1: Default Page</a>
                                                            </li>
                                                            <li>
                                                                <a href="index2.html">Option 2: Application</a>
                                                            </li>
                                                            <li>
                                                                <a href="index3.html">Option 3: Startup</a>
                                                            </li>
                                                            <li>
                                                                <a href="index4.html">Option 4: Agency</a>
                                                            </li>
                                                            <li>
                                                                <a href="index5.html">Option 5: Portfolio</a>
                                                            </li>
                                                        </ul>
                                                        <h5>About</h5>
                                                        <ul>
                                                            <li>
                                                                <a href="about.html">About us</a>
                                                            </li>
                                                            <li>
                                                                <a href="team.html">Our team</a>
                                                            </li>
                                                            <li>
                                                                <a href="team-member.html">Team member</a>
                                                            </li>
                                                            <li>
                                                                <a href="services.html">Services</a>
                                                            </li>
                                                        </ul>
                                                        <h5>Marketing</h5>
                                                        <ul>
                                                            <li>
                                                                <a href="packages.html">Packages</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <h5>Portfolio</h5>
                                                        <ul>
                                                            <li>
                                                                <a href="portfolio-2.html">2 columns</a>
                                                            </li>
                                                            <li>
                                                                <a href="portfolio-no-space-2.html">2 columns with negative space</a>
                                                            </li>
                                                            <li>
                                                                <a href="portfolio-3.html">3 columns</a>
                                                            </li>
                                                            <li>
                                                                <a href="portfolio-no-space-3.html">3 columns with negative space</a>
                                                            </li>
                                                            <li>
                                                                <a href="portfolio-4.html">4 columns</a>
                                                            </li>
                                                            <li>
                                                                <a href="portfolio-no-space-4.html">4 columns with negative space</a>
                                                            </li>
                                                            <li>
                                                                <a href="portfolio-detail.html">Portfolio - detail</a>
                                                            </li>
                                                            <li>
                                                                <a href="portfolio-detail-2.html">Portfolio - detail 2</a>
                                                            </li>
                                                        </ul>
                                                        <h5>User pages</h5>
                                                        <ul>
                                                            <li>
                                                                <a href="customer-register.html">Register / login</a>
                                                            </li>
                                                            <li>
                                                                <a href="customer-orders.html">Orders history</a>
                                                            </li>
                                                            <li>
                                                                <a href="customer-order.html">Order history detail</a>
                                                            </li>
                                                            <li>
                                                                <a href="customer-wishlist.html">Wishlist</a>
                                                            </li>
                                                            <li>
                                                                <a href="customer-account.html">Customer account / change password</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <h5>Shop</h5>
                                                        <ul>
                                                            <li>
                                                                <a href="shop-category.html">Category - sidebar right</a>
                                                            </li>
                                                            <li>
                                                                <a href="shop-category-left.html">Category - sidebar left</a>
                                                            </li>
                                                            <li>
                                                                <a href="shop-category-full.html">Category - full width</a>
                                                            </li>
                                                            <li>
                                                                <a href="shop-detail.html">Product detail</a>
                                                            </li>
                                                        </ul>
                                                        <h5>Shop - order process</h5>
                                                        <ul>
                                                            <li>
                                                                <a href="shop-basket.html">Shopping cart</a>
                                                            </li>
                                                            <li>
                                                                <a href="shop-checkout1.html">Checkout - step 1</a>
                                                            </li>
                                                            <li>
                                                                <a href="shop-checkout2.html">Checkout - step 2</a>
                                                            </li>
                                                            <li>
                                                                <a href="shop-checkout3.html">Checkout - step 3</a>
                                                            </li>
                                                            <li>
                                                                <a href="shop-checkout4.html">Checkout - step 4</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <h5>Contact</h5>
                                                        <ul>
                                                            <li>
                                                                <a href="contact.html">Contact</a>
                                                            </li>
                                                            <li>
                                                                <a href="contact2.html">Contact - version 2</a>
                                                            </li>
                                                            <li>
                                                                <a href="contact3.html">Contact - version 3</a>
                                                            </li>
                                                        </ul>
                                                        <h5>Pages</h5>
                                                        <ul>
                                                            <li>
                                                                <a href="text.html">Text page</a>
                                                            </li>
                                                            <li>
                                                                <a href="text-left.html">Text page - left sidebar</a>
                                                            </li>
                                                            <li>
                                                                <a href="text-full.html">Text page - full width</a>
                                                            </li>
                                                            <li>
                                                                <a href="faq.html">FAQ</a>
                                                            </li>
                                                            <li>
                                                                <a href="404.html">404 page</a>
                                                            </li>
                                                        </ul>
                                                        <h5>Blog</h5>
                                                        <ul>
                                                            <li>
                                                                <a href="blog.html">Blog listing big</a>
                                                            </li>
                                                            <li>
                                                                <a href="blog-medium.html">Blog listing medium</a>
                                                            </li>
                                                            <li>
                                                                <a href="blog-small.html">Blog listing small</a>
                                                            </li>
                                                            <li>
                                                                <a href="blog-post.html">Blog Post</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- /.yamm-content -->
                                        </li>
                                    </ul>
                                </li>
                                <!-- ========== FULL WIDTH MEGAMENU END ================== -->

                                <li class="dropdown">
                                    <a href="javascript: void(0)" class="dropdown-toggle" data-toggle="dropdown">Contact <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="contact.html">Contact option 1</a>
                                        </li>
                                        <li>
                                            <a href="contact2.html">Contact option 2</a>
                                        </li>
                                        <li>
                                            <a href="contact3.html">Contact option 3</a>
                                        </li>

                                    </ul>
                                </li>
                            </ul>

                        </div>
                        <!--/.nav-collapse -->



                        <div class="collapse clearfix" id="search">

                            <form class="navbar-form" role="search">
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search">
                                    <span class="input-group-btn">

                                        <button type="submit" class="btn btn-template-main"><i class="fa fa-search"></i></button>

                                    </span>
                                </div>
                            </form>

                        </div>
                        <!--/.nav-collapse -->

                    </div>


                </div>
                <!-- /#navbar -->

            </div>

            <!-- *** NAVBAR END *** -->

        </header>

        <!-- *** LOGIN MODAL ***
        _________________________________________________________ -->

        <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="Login" aria-hidden="true">
            <div class="modal-dialog modal-sm">

                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="Login">Customer login</h4>
                    </div>
                    <div class="modal-body">
                        <form action="customer-orders.html" method="post">
                            <div class="form-group">
                                <input type="text" class="form-control" id="email_modal" placeholder="email">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="password_modal" placeholder="password">
                            </div>

                            <p class="text-center">
                                <button class="btn btn-template-main"><i class="fa fa-sign-in"></i> Log in</button>
                            </p>

                        </form>

                        <p class="text-center text-muted">Not registered yet?</p>
                        <p class="text-center text-muted"><a href="customer-register.html"><strong>Register now</strong></a>! It is easy and done in 1&nbsp;minute and gives you access to special discounts and much more!</p>

                    </div>
                </div>
            </div>
        </div>

        <!-- *** LOGIN MODAL END *** -->

        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h1>Category with left sidebar</h1>
                    </div>
                    <div class="col-md-5">
                        <ul class="breadcrumb">
                            <li>
                                <a href="index.html">Home</a>
                            </li>
                            <li>Category with left sidebar</li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container">

                <div class="row">


                    <!-- *** LEFT COLUMN ***
                    _________________________________________________________ -->

                    <div class="col-sm-3">

                        <!-- *** MENUS AND FILTERS ***
                        _________________________________________________________ -->
                        <div class="panel panel-default sidebar-menu">

                            <div class="panel-heading">
                                <h3 class="panel-title">Categories</h3>
                            </div>

                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked category-menu">
                                    <li>
                                        <a href="shop-category.html">Men <span class="badge pull-right">42</span></a>
                                        <ul>
                                            <li>
                                                <a href="shop-category.html">T-shirts</a>
                                            </li>
                                            <li>
                                                <a href="shop-category.html">Shirts</a>
                                            </li>
                                            <li>
                                                <a href="shop-category.html">Pants</a>
                                            </li>
                                            <li>
                                                <a href="shop-category.html">Accessories</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="active">
                                        <a href="shop-category.html">Ladies  <span class="badge pull-right">123</span></a>
                                        <ul>
                                            <li>
                                                <a href="shop-category.html">T-shirts</a>
                                            </li>
                                            <li>
                                                <a href="shop-category.html">Skirts</a>
                                            </li>
                                            <li>
                                                <a href="shop-category.html">Pants</a>
                                            </li>
                                            <li>
                                                <a href="shop-category.html">Accessories</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="shop-category.html">Kids  <span class="badge pull-right">11</span></a>
                                        <ul>
                                            <li>
                                                <a href="shop-category.html">T-shirts</a>
                                            </li>
                                            <li>
                                                <a href="shop-category.html">Skirts</a>
                                            </li>
                                            <li>
                                                <a href="shop-category.html">Pants</a>
                                            </li>
                                            <li>
                                                <a href="shop-category.html">Accessories</a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>

                            </div>
                        </div>

                        <div class="panel panel-default sidebar-menu">

                            <div class="panel-heading">
                                <h3 class="panel-title">Brands</h3>
                                <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> <span class="hidden-sm">Clear</span></a>
                            </div>

                            <div class="panel-body">

                                <form>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">Armani (10)
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">Versace (12)
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">Carlo Bruni (15)
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox">Jack Honey (14)
                                            </label>
                                        </div>
                                    </div>

                                    <button class="btn btn-default btn-sm btn-template-main"><i class="fa fa-pencil"></i> Apply</button>

                                </form>

                            </div>
                        </div>

                        <div class="panel panel-default sidebar-menu">

                            <div class="panel-heading">
                                <h3 class="panel-title clearfix">Colours</h3>
                                <a class="btn btn-xs btn-danger pull-right" href="#"><i class="fa fa-times-circle"></i> <span class="hidden-sm">Clear</span></a>
                            </div>

                            <div class="panel-body">

                                <form>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> <span class="colour white"></span> White (14)
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> <span class="colour blue"></span> Blue (10)
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> <span class="colour green"></span> Green (20)
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> <span class="colour yellow"></span> Yellow (13)
                                            </label>
                                        </div>
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox"> <span class="colour red"></span> Red (10)
                                            </label>
                                        </div>
                                    </div>

                                    <button class="btn btn-default btn-sm btn-template-main"><i class="fa fa-pencil"></i> Apply</button>

                                </form>

                            </div>
                        </div>

                        <!-- *** MENUS AND FILTERS END *** -->

                        <div class="banner">
                            <a href="shop-category.html">
                                <img src="@Url.Content("~/Image/banner.jpg")" alt="sales 2014" class="img-responsive">
                            </a>
                        </div>
                        <!-- /.banner -->

                    </div>
                    <!-- /.col-md-3 -->
                    <!-- *** LEFT COLUMN END *** -->
                    <!-- *** RIGHT COLUMN ***

                        
                    _________________________________________________________ -->
                    @RenderBody()
                    <!-- /.col-md-9 -->
                    <!-- *** RIGHT COLUMN END *** -->

                </div>

            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->
        <!-- *** GET IT ***
        _________________________________________________________ -->

        <div id="get-it">
            <div class="container">
                <div class="col-md-8 col-sm-12">
                    <h3>Do you want cool website like this one?</h3>
                </div>
                <div class="col-md-4 col-sm-12">
                    <a href="#" class="btn btn-template-transparent-primary">Buy this template now</a>
                </div>
            </div>
        </div>


        <!-- *** GET IT END *** -->
        <!-- *** FOOTER ***
        _________________________________________________________ -->

        <footer id="footer">
            <div class="container">
                <div class="col-md-3 col-sm-6">
                    <h4>About us</h4>

                    <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>

                    <hr>

                    <h4>Join our monthly newsletter</h4>

                    <form>
                        <div class="input-group">

                            <input type="text" class="form-control">

                            <span class="input-group-btn">

                                <button class="btn btn-default" type="button"><i class="fa fa-send"></i></button>

                            </span>

                        </div>
                        <!-- /input-group -->
                    </form>

                    <hr class="hidden-md hidden-lg hidden-sm">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4>Blog</h4>

                    <div class="blog-entries">
                        <div class="item same-height-row clearfix">
                            <div class="image same-height-always">
                                <a href="#">
                                    <img class="img-responsive" src=" @Url.Content("~/Image/detailsquare.jpg")" alt="">
                                </a>
                            </div>
                            <div class="name same-height-always">
                                <h5><a href="#">Blog post name</a></h5>
                            </div>
                        </div>

                        <div class="item same-height-row clearfix">
                            <div class="image same-height-always">
                                <a href="#">
                                    <img class="img-responsive" src="@Url.Content("~/Image/detailsquare.jpg")" alt="">
                                </a>
                            </div>
                            <div class="name same-height-always">
                                <h5><a href="#">Blog post name</a></h5>
                            </div>
                        </div>

                        <div class="item same-height-row clearfix">
                            <div class="image same-height-always">
                                <a href="#">
                                    <img class="img-responsive" src="@Url.Content("~/Image/detailsquare.jpg" )" alt="">
                                </a>
                            </div>
                            <div class="name same-height-always">
                                <h5><a href="#">Very very long blog post name</a></h5>
                            </div>
                        </div>
                    </div>

                    <hr class="hidden-md hidden-lg">

                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4>Contact</h4>

                    <p>
                        <strong>Universal Ltd.</strong>
                        <br>13/25 New Avenue
                        <br>Newtown upon River
                        <br>45Y 73J
                        <br>England
                        <br>
                        <strong>Great Britain</strong>
                    </p>

                    <a href="contact.html" class="btn btn-small btn-template-main">Go to contact page</a>

                    <hr class="hidden-md hidden-lg hidden-sm">

                </div>
                <!-- /.col-md-3 -->



                <div class="col-md-3 col-sm-6">

                    <h4>Photostream</h4>

                    <div class="photostream">
                        <div>
                            <a href="#">
                                <img src="@Url.Content("~/Image/detailsquare.jpg" )" class="img-responsive" alt="#">
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <img src="@Url.Content("~/Image/detailsquare2.jpg" )" class="img-responsive" alt="#">
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <img src="@Url.Content("~/Image/detailsquare3.jpg" )" class="img-responsive" alt="#">
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <img src="@Url.Content("~/Image/detailsquare3.jpg" )" class="img-responsive" alt="#">
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <img src="@Url.Content("~/Image/detailsquare2.jpg" )" class="img-responsive" alt="#">
                            </a>
                        </div>
                        <div>
                            <a href="#">
                                <img src="@Url.Content("~/Image/detailsquare.jpg" )" class="img-responsive" alt="#">
                            </a>
                        </div>
                    </div>

                </div>
                <!-- /.col-md-3 -->
            </div>
            <!-- /.container -->
        </footer>
        <!-- /#footer -->
        <!-- *** FOOTER END *** -->
        <!-- *** COPYRIGHT ***
        _________________________________________________________ -->

        <div id="copyright">
            <div class="container">
                <div class="col-md-12">
                    <p class="pull-left">&copy; 2015. Your company / name goes here</p>
                    <p class="pull-right">
                        Template by <a href="https://bootstrapious.com">Bootstrapious</a> & <a href="https://fity.cz">Fity.cz</a>
                        <!-- Not removing these links is part of the license conditions of the template. Thanks for understanding :) If you want to use the template without the attribution links, you can do so after supporting further themes development at https://bootstrapious.com/donate  -->
                    </p>

                </div>
            </div>
        </div>
        <!-- /#copyright -->
        <!-- *** COPYRIGHT END *** -->



    </div>
    <!-- /#all -->
    <!-- #### JAVASCRIPT FILES ### -->


    @Scripts.Render("~/bundles/jquerytheme")
    @Scripts.Render("~/bundles/bootstraptheme")

    @Scripts.Render("~/bundles/themescript")





</body>

</html>
