﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Esek</a>
                        <ul class="dropdown-menu">

                            <li>@Html.ActionLink("LayLay", "LayLayLom", "Home")</li>
                            <li>@Html.ActionLink("Hav", "Hayvansever", "Home")</li>
                            <li>@Html.ActionLink("REYHAN", "KALEM", "Home")</li>
                            <li>@Html.ActionLink("Ruya", "Defter", "Home")</li> 
                        </ul>
                    </li>

                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kedi</a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Kedi", "kedicik", "kedi")</li>
                            <li>@Html.ActionLink("Kedi", "Index", "kedi")</li>
                        </ul>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kopek</a>
                                <ul class="dropdown-menu">
                                    <li>@Html.ActionLink("Kopekler", "KopekResimler", "Kopek")</li>
                                    <li>@Html.ActionLink("Kopekler2", "Index", "Kopek")</li>
                                </ul>
                            </li>
                        </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
